evento "Viagem para o Rio"

gasto 150.00 em "Gasolina" por Lucas para todos
gasto 30.00 em "Pedagios" por Maria para Lucas(1), Pedro(3), Maria(1)
gasto 45.00 em "Cafe da Manha" por Pedro para Lucas, Maria
gasto 20.00 em "Lembranca" por Lucas para Lucas

fechar